[{:acc "Assets:Bank",
  :currencies #{"USD"},
  :date #time/date "2005-01-01",
  :dct :open}
 {:acc "Assets:TB-Trading",
  :currencies #{"USD"},
  :date #time/date "2005-01-01",
  :dct :open}
 {:acc "Assets:ZSA:Transfers",
  :currencies #{"USD"},
  :date #time/date "2005-01-01",
  :dct :open}
 {:acc "Assets:ZSA-Matched:Transfers",
  :currencies #{"USD"},
  :date #time/date "2005-01-01",
  :dct :open}
 {:date #time/date "2005-01-01",
  :dct :txn,
  :flag "*",
  :narration "Transfer out",
  :postings [{:acc "Assets:Bank", :cur "USD", :units -20}
             {:acc "Assets:ZSA-Matched:Transfers", :cur "USD", :units 20}],
  :provenance ["beancount-reds-plugins.zerosum.zerosum"]}
 {:date #time/date "2005-01-03",
  :dct :txn,
  :flag "*",
  :narration "Transfer in",
  :postings [{:acc "Assets:TB-Trading", :cur "USD", :units 20}
             {:acc "Assets:ZSA-Matched:Transfers", :cur "USD", :units -20}],
  :provenance ["beancount-reds-plugins.zerosum.zerosum"]}]
